.nav__list {
  list-style: none;
}

.nav__btn {
  position: relative;
  display: flex;
  border: 2px solid var(--colour-bright);
  border-radius: 6px;
  height: 2.4375rem;
  width: 5.75rem;
  background-color: var(--colour-bright);
  background: url('/img/menu.png') ;
  background-size: contain;
}

.nav__btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--colour-bright);
  z-index: -1;
}

.nav__btn:focus-visible {
  outline-color: var(--colour-bright);
}

.nav__link {
  position: relative;
  display: inline-flex;
  border-radius: 6px;
  padding: .375rem .5rem;
  text-decoration: none;
  color: var(--color-text);
}

[aria-current="page"]::before {
  content: "";
  position: absolute;
  bottom: .375rem;
  left: .5rem;
  width: calc(100% - 1rem);
  height: 0;
  border-bottom: 4px solid var(--colour-bright);
}

[aria-current="page"]:focus-visible::before {
  border-bottom-color: var(--color-text);
}

.nav__link:focus-visible {
  background-color: var(--colour-bright);
}

@media (max-width: 34.99em) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .nav__btn {
    align-self: self-end;
  }

  .nav__btn[aria-expanded="false"] + .nav__list {
    display: none;
  }
}

@media (min-width: 35em) {
  .nav__btn {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
