:root {
  --colour-primary: #3d5a80;
  --colour-secondary: #98c1d9;
  --colour-tertiary: #e0fbfc;
  --colour-quarternary: #e0fbfc;
  --colour-bright: #ee6c4d;
  --colour-text: #1a1a1a;
  --colour-bg: #fafafa;
  --shadow: 1px 1px 10px -1px rgba(0,0,0,0.55);
}