body {
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--colour-text);
}

.main__heading {
  padding: 2.5rem 0;
  font-size: 4rem;
  word-wrap: break-all;
  overflow-wrap: anywhere;
  white-space: normal;
}

.main__heading--home {
  position: relative;
  left: 50%;
  display: inline-block;
  padding: 2rem 0;
  font-size: 2.25rem;
  transform: translateX(-50%);
}

.main__heading--home {
  background: linear-gradient(90deg, var(--colour-primary) 0%, var(--colour-primary) 73%, var(--colour-bright) 73%, var(--colour-bright) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,
.h2 {
  margin-bottom: .75rem;
  font-size: 2rem;
  font-weight: bold;
  word-wrap: break-all;
  overflow-wrap: anywhere;
  white-space: normal;
}

@media (min-width: 35em) {
  .main__heading--home {
    font-size: 3.5rem;
  }
}

@media (min-width: 55em) {
  .main__heading--home {
    font-size: 4.5rem;
  }
}

@media (min-width: 55em) {
  .main__heading--home {
    padding: 5rem 0;
    font-size: 6rem;
  }
}