
<footer class="footer">
  <div class="footer__primary">
    <h2>Disclaimer</h2>
    <p>This site is designed and built to be intentionally problematic. It contains numerous accessibility issues that map to WCAG success criteria. It is merely an educational tool, which comes with a supporting guide LINK.

    </p>
    <p>The copy in this site is just for fun. We use common stereotypical language and views, which some individuals in the tech scene may have. The views in the copy of this site in no way reflect the views of the Make Things Accessible team.</p>
    <p>Any similarities in the site's design and theming are purely coincidental and do not aim to poke fun at any specific site or app.</p>
    <p>All images are generated with Adobe Firefly AI.</p>
  </div>
  <div class="footer__secondary">
    <div class="footer__useful">
      <h2>Useful Stuff</h2>
      <div></div>
    </div>    
    <div class="footer__popup">
      <p>Click the <span>blue button</span>, for Assistance.</p>
      <p>We have the answer for all of your useful questions</p>
      <button class="footer__modal-btn" id="modalTrigger">{{'Just holla at us!' if pageName === 'services' else 'Help'}}</button>
    </div>
    <a class="footer__link" href="/accessibility/">Accessibility</a>
  </div>
  <div class="footer__socials">
    <a href="https://www.facebook.com/"><img src="/img/facey.png" class="footer__socials--facebook" alt="."></a>
    <a href="https://x.com/home"><img src="/img/x.png" alt="x / Twitter" class="footer__socials--twitter"></a>
    <a href="https://www.tiktok.com/"><img src="/img/tikTok.png" alt="Tik Tok" class="footer__socials--tiktok"></a>
  </div>
</footer>
{% include '_modals.njk' %}
<section class="toggle__wrapper" aria-labelledby="toggleHeading">
  <h2 id="toggleHeading" style="display:none">Fix site controls</h2>
  {% include '_toggle.njk' %}
</section>