
<footer class="footer">
  <div class="footer__primary">
    <h2>Disclaimer</h2>
    <p>This site is designed and built to be intentionallally problematic. It contains numerous accessibility issues that map to WCAG success criteria. It is merely an educational tool, which comes with a supporting guide LINK.

    </p>
    <p>The copy in this site is just for fun. We use common stereotypical language and views, which some individuals in the tech scene may have. The views in the copy of this site in no way reflect the views of the Make Things Accessible team.</p>
    <p>Any similarities in the site's design and theming are purely coincidental and do not aim to poke fun at any specific site or app.</p>
    <p>All images are generated with Adobe Firefly AI.</p>
  </div>
  <div class="footer__secondary">
    <h2>Useful information</h2>
    
    <div class="footer__popup">
      <p>Click the orange button, for more help.</p>
      <p>We have the answer for all of your useful questions</p>
      <button class="footer__modal-btn" id="modalTrigger">Help</button>
    </div>
    <a class="fotter__link" href="/accessibility/">Accessibility</a>
  </div>
  <div class="footer__socials">
    <a href="https://www.facebook.com/"><img src="/img/facey.png" alt="."></a>
    <a href="https://x.com/home"><img src="/img/x.png" alt="x / Twitter"></a>
    <a href="https://www.tiktok.com/"><img src="/img/tikTok.png" alt="Tik Tok"></a>
  </div>
</footer>
{% include '_modal.njk' %}