<header class="header">
  <a class="skip-link visually-hidden" id="skip" href="#h1">Skip to content</a>
  <nav class="nav">
    <button class="nav__btn" id="navBtn" aria-expanded="false" aria-controls="menuList"><span class="visually-hidden" id="triggerLabel">Menu</span></button>
    <ul class="nav__list" id="menuList">
      {% for item in navLinks %}
        {% if not item.ignorePrimary %}
          <li class="nav__listitem">
            <a 
            class="nav__link"
            id="d{{loop.index}}"
            href="{{ item.url }}" {% if item.url === page.url %}aria-current="page"{% endif %}>{{ item.label }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>