<dialog class="modal" id="modal">
  <div class="modal__inner">
    <button class="modal__close-btn" id="closeTop">
      <span class="visually-hidden">Close</span>
      <span class="modal__close--top"></span>
    </button>
    <h1 id="mHead">Ask our chatbot anything</h1>
    <p>You can find all of the help you need in this pop up, simply expand the relevant section for your query. If there isn't 
      a section that matches your particular query, don't worry about it, your question is simply not worth asking and We have got you covered. trust us, we are the best.
    </p>
    <h2 class="accordion__heading" id="accH1" data-expanded="false">
      <button class="accordion__btn" aria-expanded="false" aria-controls="accP1">Can you make accessible websites?<span class="accordion__icon"></span></button>
    </h2>
    <div class="accordion__panel" id="accP2"><p>Yes. In fact we have been building websites that comply with WCAG 1.0 since way back in 1998. We get it, you likely have disabled users 
      that have issues with your current site and are worried about legal issues? Don't worry, we have your back, we provide solutions that will
      keep those pesky lawyers at bay, check out our <a href="/services/">Services page</a> for the choice of packages, hint, you should spend the extra on the Gold package as it includes our overlay.</p>
    </div>
    <h2 class="accordion__heading" id="accH2" data-expanded="false">
      <button class="accordion__btn" aria-expanded="false" aria-controls="accP2">Will my website be secure?<span class="accordion__icon"></span></button>
    </h2>
    <div class="accordion__panel" id="accP3"><p>Yup. We only use the safest web protocols and encryption methods to keep your site and data safe. All our sites use the HTTP protocol 
      and the MD5 hashing algorithm.
    </p></div>
    <h2 class="accordion__heading" id="accH3" data-expanded="false">
      <button class="accordion__btn" aria-expanded="false" aria-controls="accP3">Can I use my own designer?<span class="accordion__icon"></span></button>
    </h2>
    <div class="accordion__panel" id="accP4">
      <p>No. Simply put, we are better and you'd be making a huge mistake. We are better than the rest 
        and we know our business and technology better than you and some rando designer. As an example, if your business sells luxury handmade chocolates, we consider you the 
        expert, so we would not tell you to change the recipe. Using that same logic we don't want some hipster designer telling us 
        stuff that doesn't make sense to us. You trust our systems and judgements and we won't tell you how to improve your chocolate (unless we don't like it).</p>
    </div>
    <h2 class="accordion__heading" id="accH4" data-expanded="false">
      <button class="accordion__btn" aria-expanded="false" aria-controls="accP4">Are your systems good value for money?<span class="accordion__icon"></span></button>
    </h2>
    <div class="accordion__panel" id="accP5">
      <p>Hell yeah. We don't feel the need to compete with regular engineers, as our stuff is better. You pay a premium price 
      and get a premium product. Don't settle for less.
      </p>
    </div>
    <h2 class="accordion__heading" id="accH5" data-expanded="false">
      <button class="accordion__btn" aria-expanded="false" aria-controls="accP5">Will my users find the sites to be intuitive?<span class="accordion__icon"></span></button>
    </h2>
    <div class="accordion__panel" id="accP5">
      <p>Most of them will. Some folks just use stuff wrong, you don't need to worry about those people, 
        because if they can't figure out how to use your site, that's usually a good sign they will cause you problems later down the line. Y'know the kind of customer:
        "I need to return these shoes as I actually meant to order a microwave". That's far too much hassle, your genuine customers will be fine and you should weed out users that are going to cause you issues.
      </p>
    </div>
    <h2 class="accordion__heading" id="accH6" data-expanded="false">
      <button class="accordion__btn" aria-expanded="false" aria-controls="accP6">I have an issue with a site you built<span class="accordion__icon"></span></button>
    </h2>
    <div class="accordion__panel" id="accP6"><p>No you don't. You're using it wrong or you broke it (please check the small print in the T&Cs). When it transpires it was your fault, 
      we can of course fix it for a fee, just send us an email to <a href="mailto:thisIsNotAValidEmailaddress@bradAndChad.com">Support @ Brad and Chad</a></p>
    </div>
    <div class="modal__footer">
      <button class="modal__close-btn" id="closeBtm">
        close
      </button>
    </div>
  </div>
</dialog>
<dialog class="success__dialog">
  <h1>We gotchu, hold tight, we'll be in touch!</h1>
  <p>I confirm by sending this message I will be billed a compulsory consultation fee of $2000, for receiving a follow up call</p>
  <p>It is my responsibility to answer the call, any missed calls will be billed at $1000 per time</p>
  <input id="cBoxSuccess" type="checkbox" checked>
  <label for="cBoxSuccess">I agree to be billed at the supplied rate</label>
  <span class="success__timer"></span>
</dialog>
<dialog class="poor__dialog">
  <h1>OOPS</h1>
  <p>Sorry, you are not wealthy enough to use our service, Come back when you're not so broke</p>
  <span class="success__timer"></span>
</dialog>