{% if pageName === 'testimonials' %}
  <button class="buffer visually-hidden" tabindex="-1" accesskey="8">Freedom</button>
{% endif %}
<label for="toggleSwitch" class="toggle__label">
    Fix issues
    <button id="toggleSwitch" class="toggle__btn" aria-pressed="false">
      <span class="toggle__thumb"></span>
      <svg class="toggle__cross" xmlns="http://www.w3.org/2000/svg"  aria-hidden="true" viewBox="0 0 25 25">
        <path d="m18.148 12.48 5.665-5.66a4 4 0 0 0 0-5.66 3.996 3.996 0 0 0-5.665 0l-5.664 5.66L6.82 1.16a3.994 3.994 0 0 0-5.664 0 4 4 0 0 0 0 5.66l5.664 5.66-5.664 5.67a4 4 0 0 0 0 5.66 3.994 3.994 0 0 0 5.664 0l5.664-5.66 5.664 5.66a3.996 3.996 0 0 0 5.665 0 4 4 0 0 0 0-5.66z"/>
      </svg>
      <svg class="toggle__check" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="none" viewBox="0 -1 10 10">
        <path d="M3.06 2.94A1.5 1.5 0 0 0 .94 5.06l2 2a1.5 1.5 0 0 0 2.12 0l4-4A1.5 1.5 0 0 0 6.94.94L4 3.878z" clip-rule="evenodd"/>
      </svg>
    </button>
  </label>