.offer__code {
  margin-left: -4px;
  height: 3rem;
}

.ai__list {
  margin: 1.25rem 1.25rem 1.5rem;
}

.packages {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: 5rem 0;
  list-style: none;
}

[class^="package__item"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
  border-radius: 6px;
  padding: .5rem;
  background-color: var(--colour-secondary);
}

.package__img {
  margin-top: -4.5rem;
  width: 8rem;
  height: 8rem;
  border: 6px solid var(--colour-secondary);
  border-radius: 50%;
}
 
.package__title {
  margin: .5rem 0;
  text-align: center;
}

.package__list {
  margin-left: .75rem;
}

.package__btm {
  padding: 1.25rem .75rem;
}

.package__contact {
  display: block;
  margin-top: 1.5rem;
  border: none;
  border-radius: 4px;
  padding: .25rem .75rem;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: var(--colour-text);
  background-color: var(--colour-bright);
}

.package__contact:focus-visible {
  outline: 2px solid var(--colour-bright);
}

.disclaimer {
  font-size: .6rem;
}

@media (min-width: 55em) {
  .packages {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
  }
}

@media (min-width: 70em) {
  [class^="package__item"] {
  }
}
